.contact-details-panel {
  &__inner {
    height: 100%;
    padding: var(--xh-pad-double-px);
    overflow-y: auto;
  }

  // make this centered again
  .contact-record-user-image {
    margin: 0 auto;
    display: table-cell;
    width: auto;
    height: 33%;
    padding: var(--xh-pad-half-px);
  }

  .xh-form-field {
    border-bottom: var(--xh-border-solid);
  }

  .xh-form-field-label {
    font-weight: bold;
  }
}
