.local-date-test-panel {
  & > .xh-vframe {
    overflow-y: auto !important;
  }

  p {
    margin: var(--xh-spacing);
    font-size: var(--xh-font-size-large);
  }

  table {
    margin: var(--xh-spacing);
    border: var(--xh-border-solid);
    background: var(--xh-bg);
    border-collapse: collapse;
  }

  th,
  td {
    padding: var(--xh-spacing-half) var(--xh-spacing);
    border: var(--xh-border-solid);
    text-align: left;
  }

  tr {
    background-color: var(--xh-grid-bg);

    &:nth-child(odd) {
      background-color: var(--xh-grid-odd-row-bg);
    }
  }
}
