.tbox-samplegrid {

  &__selbar {
    font-size: var(--xh-font-size-small-px);
    padding: var(--xh-pad-half-px);
    border-top: var(--xh-border-solid);
    align-items: center;
    svg {margin-right: 4px}
  }

}

.ag-cell {
  &.dirty {
    background-color: var(--xh-intent-warning);
  }
}