.tbox-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;

  > .xh-panel {
    border: var(--xh-border-solid);
  }

  &__description {
    flex: none !important;
    width: 700px;
    margin-bottom: var(--xh-pad-double-px);
    background-color: var(--xh-bg-alt);
    padding: var(--xh-title-pad-px);
    border-radius: var(--xh-border-radius-px);

    p:last-child {
      margin-bottom: 0;
    }

    code {
      font-family: var(--xh-font-family-mono);
      font-size: 0.9em;
      background-color: #d1e5f2;
      padding: 2px;

      .xh-dark & {
        background-color: #212121;
      }
    }
  }

  &__links {
      table {
        width: 100%;
        border-collapse: collapse;
      }

      tr {
        &:nth-child(even) {
          background-color: var(--xh-grid-bg-odd);
        }
      }

      th, td {
        padding: var(--xh-pad-half-px) var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
        vertical-align: top;
      }

      th {
        white-space: nowrap;
        text-align: left;
      }

      td {
        width: 100%;
      }
  }
}
