.tbox-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  background:
    radial-gradient(ellipse at center, color-mix(in srgb, var(--xh-bg-alt), transparent 30%) 0%, transparent 70%),
    var(--xh-bg);

  > .xh-panel {
    border: var(--xh-border-solid);
  }

  &__description {
    flex: none !important;
    width: 80%;
    max-width: 1000px;
    margin-bottom: var(--xh-double-pad-px);
    border: 1px solid var(--xh-orange-muted);
    border-radius: 5px;
    color: var(--xh-text-color);
    line-height: 1.4;

    //background: linear-gradient(
    //    to right,
    //    color-mix(in srgb, var(--xh-orange), transparent 94%),
    //    transparent 30%
    //);

    p {
      margin: 4px 0;
    }

    a {
      color: var(--xh-orange);
    }

    code {
      font-family: var(--xh-font-family-mono);
      font-size: 0.85em;
      color: var(--xh-text-color);
      background-color: var(--xh-bg-alt);
      padding: 1px 5px;
      border-radius: 3px;
    }
  }

  &__links {
    table {
      width: 100%;
      border-collapse: collapse;
    }

    tr {
      &:nth-child(even) {
        background-color: var(--xh-grid-bg-odd);
      }
    }

    th,
    td {
      padding: var(--xh-pad-half-px) var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
      vertical-align: top;
    }

    th {
      white-space: nowrap;
      text-align: left;
    }

    td {
      width: 100%;
    }
  }
}
