.tbox-dialogs {
  table {
    width: 700px;
    height: 270px;
    text-align: left;

    th {
      width: 20%;
      padding: var(--xh-pad-px);

      .tbox-dialogs__button {
        width: 100%;
      }
    }

    td {
      width: 40%;
      padding: var(--xh-pad-px);
      text-align: center;

      .tbox-dialogs__button {
        width: 100%;
      }
    }
  }
}
