.tb-data-view-test {
  p {
    text-align: center;
    padding: var(--xh-pad-px);
  }

  & .xh-data-view {
    width: 700px;
    margin: var(--xh-pad-double-px) auto;
    border: var(--xh-border-solid);

    & .xh-cell-inner-wrapper > .xh-vbox {
      padding: var(--xh-pad-px);
    }
  }
}
