.toolbox-modal-panel {
  .xh-toolbar--vertical {

    .toolbox-modal-panel__row {
      width: 90%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .bp3-label {
        font-size: var(--xh-font-size-md-px);
        margin-bottom: 2px;
      }

      .above-label {
        margin-bottom: 2px;
      }
      .indent-label {
        margin-left: 10px;
      }

      .xh-text-input {
        width: 50%;
      }
      .xh-select {
        button {
          width: 100px;
        }
      }

      textarea {
        width: 50%;
      }

    }
    .options-divider {
      font-size: var(--xh-font-size-md-px);
      font-weight: bold;
      width: 90%;
    }

  }
}