.tb-feedback {
  &__inner {
    align-items: stretch;
    gap: var(--xh-pad-half-px);

    &--thanks {
      align-items: center;
      text-align: center;
      gap: var(--xh-pad-px);
      padding: var(--xh-pad-px) 0;
    }
  }

  &__question {
    font-size: var(--xh-font-size-px);
    font-weight: 600;
    color: var(--xh-text-color);
  }

  &__sub {
    font-size: var(--xh-font-size-px);
    color: var(--xh-text-color-muted);
  }

  &__ratings {
    justify-content: space-around;
    margin-top: var(--xh-pad-half-px);

    .xh-button {
      color: var(--xh-orange);
    }
  }

  &__actions {
    align-items: center;
    gap: var(--xh-pad-half-px);
    margin-top: var(--xh-pad-half-px);
  }
}
