.tb-button-page {
  &__row {
    padding: var(--xh-spacing-half);
    justify-content: center;
    background-color: var(--xh-bg);
    border-radius: var(--xh-border-radius);

    &:not(:last-child) {
      margin-bottom: var(--xh-spacing-half);
    }

    & > .xh-button:not(:last-child) {
      margin-right: var(--xh-spacing);
    }
  }

  &__panel--toolbar {
    .tb-button-page__row {
      background-color: var(--xh-toolbar-bg);
    }
  }
}
