.tb-icon-page {
  table {
    max-width: 100%;
    border-collapse: collapse;

    th {
      width: 25%;
      padding: var(--xh-pad-half-px);
      text-transform: capitalize;
      background-color: var(--xh-grid-header-bg);
      border-bottom: var(--xh-border-solid);
    }

    tr {
      background-color: var(--xh-grid-bg);

      &:nth-child(odd) {
        background-color: var(--xh-grid-bg-odd);
      }

      td {
        padding: var(--xh-pad-px);

        &:first-child {
          font-family: var(--xh-font-family-mono);
          font-size: var(--xh-font-size-small-em);
        }

        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }
}
