.tb-sample-grid {
  &__selbar {
    font-size: var(--xh-font-size-small);
    padding: var(--xh-spacing-half);
    border-top: var(--xh-border-solid);
    background-color: var(--xh-bg-highlight);
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }
}

.tb-sample-grid-tooltip {
  min-width: 160px;
  padding: var(--xh-spacing);
  background: var(--xh-bg-alt);
  border: var(--xh-border-solid);

  > *:not(:last-child) {
    margin-bottom: var(--xh-spacing-half);
  }

  .company {
    font-size: var(--xh-font-size-large);
    color: var(--xh-text-color-headings);
  }

  .city-and-date {
    color: var(--xh-text-color-muted);
    border-bottom: var(--xh-border-solid);
    padding-bottom: var(--xh-spacing-half);
  }

  .tooltip-row {
    > *:first-child {
      margin-right: var(--xh-spacing);
    }
  }
}
