.tb-sample-grid {
  &__selbar {
    font-size: var(--xh-font-size-small-px);
    padding: var(--xh-pad-half-px);
    border-top: var(--xh-border-solid);
    background-color: var(--xh-bg-highlight);
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }
}

// To demo GridModel.rowClassRules
.tb-sample-grid__bolded-row {
  font-weight: bold;

  .ag-cell,
  .xh-grid-autosize-cell {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

// To demo Column.cellClassRules
.tb-sample-grid__high-volume-cell {
  padding-left: 70px !important;
  color: var(--xh-intent-warning-darker);
  border-left: 4px solid var(--xh-intent-warning-darker) !important;
  background-color: var(--xh-intent-warning-trans1);
}

.tb-sample-grid-tooltip {
  min-width: 160px;
  padding: var(--xh-pad-px);
  background: var(--xh-bg-alt);
  border: var(--xh-border-solid);

  > *:not(:last-child) {
    margin-bottom: var(--xh-pad-half-px);
  }

  .company {
    font-size: var(--xh-font-size-large-px);
    color: var(--xh-text-color-headings);
  }

  .city-and-date {
    color: var(--xh-text-color-muted);
    border-bottom: var(--xh-border-solid);
    padding-bottom: var(--xh-pad-half-px);
  }

  .tooltip-row {
    > *:first-child {
      margin-right: var(--xh-pad-px);
    }
  }
}
