.tb-contact-details-panel {
  // Sync header height with DirectoryPanel toolbar.
  .xh-panel-header {
    height: 41px;
  }

  &__inner {
    flex: 1;
    overflow-y: auto;

    img {
      display: table-cell;
      height: 250px;
      margin: var(--xh-pad-px) auto;
    }

    .xh-form-field {
      margin: 0;
      padding: var(--xh-pad-half-px) var(--xh-pad-px);

      &:first-of-type {
        border-top: var(--xh-border-solid);
      }

      &:not(:last-child) {
        border-bottom: var(--xh-border-solid);
      }
    }

    .xh-form-field-label {
      font-weight: bold;
    }
  }
}
