.toolbox-page .page__content {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"><rect x="0" y="0" width="20" height="20" style="fill: #F5F5F5;" /></svg>') !important;
  .xh-dark & {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"><rect x="0" y="0" width="20" height="20" style="fill: #212121;" /></svg>') !important;
  }

  .toolbox-card {
    margin: var(--xh-pad-double-px);
    padding: var(--xh-pad-px);
    background: var(--xh-bg);
    border: var(--xh-border-solid);
    border-radius: var(--xh-border-radius-px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);

    &__title {
      padding: 0 0 var(--xh-pad-px);
      font-size: 17px;
    }

    &__body {
      padding: 0 0 var(--xh-pad-px);
      line-height: 1.5;
    }
  }
}

.toolbox-description {
  padding: var(--xh-title-pad-px);
  background-color: var(--xh-bg-alt);
  border-bottom: var(--xh-border-solid);
}

.toolbox-containers-page .page__content {
  display: flex;
  flex-direction: column;

  & > .xh-hbox, & > .xh-vbox {
    flex: 1;
  }

  .toolbox-containers-box {
    border: var(--xh-border-solid);
    font-family: var(--xh-font-family-mono);
  }
}