// This work around ensures the app has the full screen height available to it after
// completing the Auth0 flow - see https://github.com/xh/toolbox/issues/495
// stylelint-disable media-feature-name-no-unknown
@media all and (display-mode: standalone) {
  html {
    height: 200vh;
  }
}

.toolbox-page {
  .toolbox-card {
    margin: var(--xh-pad-double-px);
    padding: var(--xh-pad-px);
    background: var(--xh-bg);
    border: var(--xh-border-solid);
    border-radius: var(--xh-border-radius-px);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.2);

    &__title {
      padding: 0 0 var(--xh-pad-px);
      font-size: 17px;
    }

    &__body {
      padding: 0 0 var(--xh-pad-px);
      line-height: 1.5;
    }
  }
}

.toolbox-description {
  padding: var(--xh-title-pad-px);
  background-color: var(--xh-bg-alt);
  border-bottom: var(--xh-border-solid);
}

.toolbox-containers-page .xh-panel__content {
  & > .xh-hbox,
  & > .xh-vbox {
    flex: 1;
  }

  .toolbox-containers-box {
    border: var(--xh-border-solid);
    font-family: var(--xh-font-family-mono);
  }
}

.toolbox-detail-page {
  .toolbox-detail-row {
    display: flex;
    background-color: var(--xh-grid-bg);
    font-size: var(--xh-grid-font-size-px);

    &:nth-child(even) {
      background-color: var(--xh-grid-bg-odd);
    }

    & > div {
      padding: var(--xh-pad-half-px) var(--xh-pad-px);

      &:first-child {
        flex: 1;
      }
    }
  }
}
