.tb-badge-page {
  &__row {
    flex-wrap: wrap;
    align-items: center;
    gap: var(--xh-spacing);
  }

  &__context {
    align-items: center;
    gap: var(--xh-spacing-half);
    padding: var(--xh-spacing-half) 0;

    & + & {
      border-top: var(--xh-border-solid);
    }
  }
}
