.toolbox-containers-box {
  border: var(--xh-border-solid);
  font-family: var(--xh-font-family-mono);
}

.toolbox-containers-tabs {
  .xh-tab-panel {
    padding: var(--xh-pad-px);
  }

  .child-tabcontainer {
    border: var(--xh-border-solid);
  }
}
