.tb-app-notifications {
  > .xh-panel {
    border: var(--xh-border-solid);
    margin: var(--xh-spacing-double);
    width: 325px;
    height: 325px;

    p {
      margin: var(--xh-spacing);
    }

    button {
      padding: var(--xh-spacing);
    }
  }
}
