.tb-app-notifications {
  > .xh-panel {
    border: var(--xh-border-solid);
    margin: var(--xh-pad-double-px);
  }
}

.tb-update {
  width: 325px;
  height: 325px;

  p {
    margin: var(--xh-pad-px);
  }

  button {
    padding: var(--xh-pad-double-px);
  }
}

.tb-idle {
  width: 325px;
  height: 325px;

  p {
    margin: var(--xh-pad-px);
  }

  button {
    padding: var(--xh-pad-double-px);
  }
}
