.tb-exceptions {
  > .xh-panel {
    border: var(--xh-border-solid);
    margin: 0 var(--xh-pad-double-px);
    height: 400px;
    width: 400px;

    p {
      margin: var(--xh-pad-px);
    }

    .xh-button {
      padding: var(--xh-pad-px);
      margin: var(--xh-pad-px) auto;
      border: var(--xh-border-solid);
    }
  }
}
