.tb-exceptions {
  > .xh-panel {
    border: var(--xh-border-solid);
    margin: var(--xh-pad-double-px);
    height: 325px;
    width: 500px;

    p {
      margin: var(--xh-pad-px);
    }

    .xh-button {
      padding: var(--xh-pad-px);
      margin: var(--xh-pad-px) auto;
      border: var(--xh-border-solid);
      max-width: 300px;
    }
  }
}
