.toolbox-icons-panel {
  max-height: calc(100% - 200px);
  width: calc(100% - 100px);
  max-width: 1200px;
  overflow: auto;

  .font-size {
    &--small {
      font-size: var(--xh-font-size-small-px) !important;
    }

    &--default {
      font-size: var(--xh-font-size-px) !important;
    }

    &--large {
      font-size: var(--xh-font-size-large-px) !important;
    }
  }

  .toolbox-icons-table-scroller {
    overflow-y: scroll;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        text-align: center;
        height: 30px;
        width: 16.667%;
        border-bottom: var(--xh-border-solid);
        color: var(--xh-gray);
      }

      tr {
        display: table;
        width: 100%;
      }
    }

    tbody {
      display: block;
      height: 100%;
      width: 100%;

      th,
      td {
        text-align: center;
        width: 16.667%;
        padding: 4px 0;
      }

      th {
        font-family: var(--xh-font-family-mono);
        text-align: right;
      }

      tr {
        display: table;
        width: 100%;

        &:nth-child(even) {
          background-color: var(--xh-grid-bg-odd);
        }

        &:hover {
          background-color: var(--xh-grid-bg-highlight);
        }
      }
    }
  }
}
