.tb-preferences {
  > .xh-panel {
    border: var(--xh-border-solid);
    height: 240px;
    width: 800px;

    .xh-vframe {
      justify-content: center;
      align-items: center;

      .user-profile {
        background-color: var(--xh-bg);
        width: 400px;
        border: var(--xh-border-solid);
        margin: var(--xh-pad-px);

        &--card {
          border-right: var(--xh-border-solid);
        }
      }
    }

    p {
      margin: var(--xh-pad-px);
    }

    .xh-hbox {
      padding: var(--xh-pad-half-px);
    }
  }

  > .xh-hbox {
    width: 800px;

    .xh-vframe {
      justify-content: center;

      .xh-hbox {
        align-items: center;
        padding: var(--xh-pad-px);

        .icon-button-group {
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: var(--xh-pad-px);

          .xh-button {
            border-radius: var(--xh-border-radius-px);
          }
        }
      }
    }
  }
}
