.tb-preferences {
  > .xh-panel {
    border: var(--xh-border-solid);
    height: 300px;
    width: 800px;

    .xh-vframe {
      justify-content: center;
      align-items: center;

      .user-profile {
        background-color: var(--xh-bg);
        width: 400px;
        border: var(--xh-border-solid);
        margin: var(--xh-pad-px);

        &--card {
          border-right: var(--xh-border-solid);
        }
      }
    }

    p {
      margin: var(--xh-pad-px);
    }

    .xh-button {
      padding: var(--xh-pad-px);
      margin: var(--xh-pad-px) auto;
      border: var(--xh-border-solid);
      max-width: 300px;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      text-align: center;
    }

    .xh-hbox {
      padding: var(--xh-pad-half-px);
    }
  }

  > .xh-hbox {
    width: 800px;

    .xh-vframe {
      justify-content: center;
      align-items: center;

      .xh-hbox {
        margin: var(--xh-pad-px);
        justify-content: center;

        p {
          padding: var(--xh-pad-px);
        }

        .icon-button-group {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}
