.tb-preferences {
  > .xh-panel {
    border: var(--xh-border-solid);
    margin: var(--xh-pad-double-px);
    height: 600px;
    width: 800px;

    p {
      margin: var(--xh-pad-px);
    }

    .xh-code-input {
      margin: 0;
    }

    .xh-button {
      padding: var(--xh-pad-px);
      margin: var(--xh-pad-px) auto;
      border: var(--xh-border-solid);
      max-width: 300px;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      text-align: center;
    }
  }
}
