.toolbox-toast-panel {
  .xh-toolbar--vertical {

    .toolbox-toast-panel__row {
      width: 90%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      .bp3-label {
        font-size: var(--xh-font-size-md-px);
        margin-bottom: 2px;
      }

      .above-label {
        margin-bottom: 2px;
      }
      .indent-label {
        margin-left: 10px;
      }


      .xh-select {
        button {
          width: 100px;
        }
      }
      .xh-number-input {
        input {
          width: 100px;
        }
      }
    }
    .options-divider {
      font-size: var(--xh-font-size-md-px);
      font-weight: bold;
      width: 90%;
    }

  }
}