.tb-select-test-panel {
  &__column {
    margin: var(--xh-pad-px);
    padding: var(--xh-pad-px);
    border: var(--xh-border-solid);
    background: var(--xh-bg);
    overflow-y: auto;
    flex: 1;
  }

  p {
    &:not(:first-child) {
      margin-top: 20px;
    }
    border-bottom: var(--xh-border-solid);
  }

  .xh-input {
    margin: var(--xh-pad-px);
  }

  label {
    margin: var(--xh-pad-px);
  }
}
