.select-test-panel {
  label {
    margin-left: var(--xh-pad-px);
  }

  p {
    font-size: var(--xh-font-size-large-px);
    margin: var(--xh-pad-px);
  }

  .xh-select {
    margin-left: var(--xh-pad-px);
  }
}
