.select-test-panel {
  p {
    font-size: var(--xh-font-size-large-px);
    margin: var(--xh-pad-px);
  }

  .xh-input {
    margin: var(--xh-pad-half-px);
  }

  label {
    margin: var(--xh-pad-px);
  }
}
