.tb-datalab {
  &__hint {
    color: var(--xh-text-color-muted);
    font-style: italic;
  }

  &__section {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--xh-text-color-muted);
    text-transform: uppercase;
    font-size: var(--xh-font-size-small);
  }

  &__t-row {
    display: flex;
    margin-bottom: 6px;
  }

  &__t-row--header {
    margin-bottom: 4px;
    color: var(--xh-text-color-muted);
    text-transform: uppercase;
    font-size: var(--xh-font-size-small);
  }

  &__t-metric {
    width: 220px;
    font-weight: 600;
  }

  &__t-val {
    width: 90px;
    text-align: right;
  }

  &__kv {
    margin-bottom: 2px;
  }
}
