.dash-canvas-droppable-demo {
  .xh-dash-canvas {
    .react-grid-layout {
      min-height: 100%;
    }
  }

  .draggable-widget {
    border: var(--xh-border-dotted);
    background-color: var(--xh-bg-alt);
    padding: var(--xh-pad-half-px);
    margin: var(--xh-pad-half-px);
    cursor: grab;

    &.is-dragging {
      cursor: grabbing;
      // lighten background color of left behind placeholder
      // when dragging
      opacity: 0.25;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
