.toolbox-controls-panel {
  &__column {
    width: 30%;
    margin: var(--xh-pad-px);

    &:nth-child(2) {
      margin: var(--xh-pad-px) 0;
    }

    .xh-form-field {
      margin: 0;
      padding: var(--xh-pad-px);
      flex: none;

      &:nth-child(odd) {
        background-color: var(--xh-grid-bg-odd);
      }
    }
  }
}