.xh-toolbox-formfields-panel {
  .xh-toolbox-example-container {
    > div:not(.xh-panel) {
      border: none;
    }
  }
  .xh-panel {
    border: var(--xh-border-solid);
    + .xh-panel {
      margin-top: 5px;
    }
    .xh-panel-body {
      > div {
        padding: 5px;
        > div {
          padding: 0 2px;
        }
      }
    }
  }

  .rawvalues {
    align-self: flex-start;
    .xh-panel-body {
      > div {
        div:first-child {
          font-weight: bold;
          width: 90px;
        }
      }
    }
  }
}