.tb-form-panel {
  &__inner-scroll {
    flex: 1;
    overflow-y: auto;
    padding: var(--xh-pad-px);
  }

  &__reference-row {
    flex: none;

    .xh-form-field {
      margin-bottom: 0;
    }
  }
}
