.tb-form-panel {
  --xh-form-field-label-color: var(--xh-text-color-muted);
  --xh-form-field-label-text-transform: uppercase;
  --xh-form-field-label-font-size: var(--xh-font-size-small-px);
  --xh-form-field-readonly-label-border-bottom: var(--xh-border-solid);

  &__inner-scroll {
    flex: 1;
    overflow-y: auto;
    padding: var(--xh-pad-px);
  }

  &__references {
    border: var(--xh-border-solid);
    flex: 1;
    margin-top: var(--xh-pad-px);
    padding: var(--xh-pad-px);
  }

  &__reference-row {
    flex: none;

    .xh-form-field {
      margin-bottom: 0;
    }
  }
}
