.xh-toolbox-example-container {
  .xh-panel {
    &:not(:first-child) {
      margin-top: 5px;
    }
    .xh-panel-body {
      padding: 5px;
      > div {
        padding: 5px;
        align-items: center;
        .pt-label {
          margin-right: 5px;
          ~ div {
            padding-right: 5px;
          }
        }
      }
    }
  }
}