.tbox-formats-tab {
  margin: 0 var(--xh-pad-double-px) var(--xh-pad-px) var(--xh-pad-double-px);

  > .xh-vframe {
    padding-left: var(--xh-pad-px);
  }

  &__panel {
    margin: var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px) 0;
    border: var(--xh-border-solid);

    table {
      width: 100%;

      tr {
        background-color: var(--xh-grid-bg);

        &:nth-child(odd) {
          td {
            background-color: var(--xh-grid-bg-odd);
          }
        }
      }

      td {
        text-align: right;
        width: 50%;
      }
    }

    &__card {
      display: flex;
      flex-direction: column;
      margin: 0 var(--xh-pad-px);
    }
  }

  .bp3-form-content {
    display: flex;
  }

  .bp3-form-group {
    margin: 0;
    padding: var(--xh-pad-half-px);
    float: right;

    .bp3-label {
      margin-bottom: 2px;

      .bp3-text-muted {
        visibility: hidden;
        font-family: var(--xh-font-family-mono);
        background-color: var(--xh-bg-alt);
        border: var(--xh-border-solid);
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: right;
        padding: 2px 4px;
      }
    }

    .bp3-form-helper-text {
      margin-left: 20px;
    }
  }
}
