// Tweak vertical alignment on custom Toolbox icon/logo title image.
.xh-appbar-icon {
  img {
    height: 25px;
    display: block;
    margin-left: var(--xh-pad-px);
  }
}

.tb-tab {
  .xh-tab-switcher--left {
    width: 140px;
    border-right: var(--xh-border-solid);
  }
}

.tbox-display-opts {
  .xh-panel-header {
    color: var(--xh-text-color);
    background-color: var(--xh-bg-alt);

    .xh-button--minimal {
      color: var(--xh-text-color) !important;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--xh-pad-px) var(--xh-pad-half-px);

    .xh-input,
    .xh-button {
      margin: var(--xh-pad-half-px);
      flex: none;
    }

    label {
      margin: 0 var(--xh-pad-half-px);
    }
  }
}
