@import './helpers';

body {
  --panel-bg: var(--xh-bg);
}

.toolbox-tab > .xh-tab-switcher--left > .bp3-tab-list {
  width: 140px;
  border-right: var(--xh-border-solid);
}

.toolbox-wrapper > .xh-panel {
  border: var(--xh-border-solid);
}
