.toolbox-layout-box {
  border: var(--xh-border-solid);
  font-family: var(--xh-font-family-mono);
  padding: var(--xh-pad-px);
}

.toolbox-layout-tabs {
  .xh-tab {
    padding: var(--xh-pad-px);
  }

  .child-tabcontainer {
    border: var(--xh-border-solid);
  }
}
