.tb-tileframe {
  flex: none;
  width: 60vw;
  max-height: 60vh;

  &__tile {
    border: 2px solid var(--xh-intent-primary-darker);
  }

  &__props-form {
    .xh-form-field {
      flex: none;
      margin: 0;
    }

    .xh-button {
      margin-top: var(--xh-pad-px);
      width: 100%;
    }
  }
}
