.tb-tileframe {
  flex: none;
  width: 60vw;
  max-height: 60vh;

  &__tile {
    border: 2px solid var(--xh-intent-primary-darker);
    text-align: center;

    .xh-panel__content > .xh-vframe {
      background-color: var(--xh-intent-primary-trans1);
      align-items: center;
      justify-content: center;
    }
  }

  &__props-form {
    padding: var(--xh-pad-px);
    overflow: auto;

    .xh-form-field {
      flex: none;
      margin: 0;
    }

    .xh-button {
      margin-top: var(--xh-pad-px);
      width: 100%;
    }
  }
}
