.xh-app .tb-chart-widget__buttons .xh-button.bp6-button.xh-button--enabled:focus,
.xh-app.xh-dark .tb-chart-widget__buttons .xh-button.bp6-button.xh-button--enabled:focus,
.xh-app.xh-dark.bp6-dark .tb-chart-widget__buttons .xh-button.bp6-button.xh-button--enabled:focus {
  outline: none !important;
}
