.tb-welcome-widget {
  &__logo {
    padding: var(--xh-pad-px);
    border-right: var(--xh-border-solid);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;

    img {
      object-fit: contain !important;
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__greeting {
    height: 100%;
    width: 75%;
    margin: auto 0;
    overflow-y: auto;
    padding: var(--xh-pad-double-px);

    p {
      font-size: var(--xh-font-size-large-px);

      &.tb-welcome-widget__signoff {
        text-align: right;
        margin: var(--xh-pad-double-px) var(--xh-pad-double-px) 0 0;
      }
    }
  }
}
