.toolbox-dataview-panel {
  .xh-vbox {
    flex: 1;
    padding: var(--xh-pad-half-px) var(--xh-pad-px);
  }

  .dataview-item {
    &--name {
      font-size: var(--xh-font-size-large-px);
      font-weight: bold;
    }

    &--city {
      opacity: 0.8;
      font-size: var(--xh-font-size-small-px);
      line-height: calc(var(--xh-font-size-small) * 1.1px);
      padding-bottom: 8px;
    }

    svg {
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }
}
