.tb-dataview-panel {
  .tb-dataview-item {
    padding: var(--xh-pad-half-px) var(--xh-pad-px);

    &__name {
      font-size: var(--xh-font-size-large-px);
      font-weight: bold;
    }

    &__city {
      opacity: 0.8;
      font-size: var(--xh-font-size-small-px);
      line-height: calc(var(--xh-font-size-small) * 1.1px);
      padding-bottom: var(--xh-pad-half-px);
    }

    svg {
      position: absolute;
      right: 20px;
      top: 15px;
    }
  }
}
