.toolbox-welcome {
  padding: var(--xh-pad-double-px);

  p {
    font-size: var(--xh-font-size-large-px);

    &.toolbox-welcome__signoff {
      text-align: right;
      margin: var(--xh-pad-double-px);
    }
  }

  &__logo {
    float: left;
    margin-right: var(--xh-pad-double-px);
    border-right: var(--xh-border-solid);

    img {
      width: 250px;
      // Make our black logo source image orange!
      filter: invert(64%) sepia(89%) saturate(1738%) hue-rotate(346deg) brightness(100%) contrast(95%);
    }
  }
}
