.tb-home {
  width: 100%;
  justify-content: center;

  > .xh-panel {
    border: var(--xh-border-solid);
    margin: var(--xh-pad-double-px);
  }
}

.tb-welcome {
  flex: 1;
  max-width: 620px;
  height: 525px;

  &__logo {
    margin: var(--xh-pad-double-px) 0;
    border-right: var(--xh-border-solid);
    display: flex;
    justify-content: center;
    flex-direction: column;

    img {
      width: 250px;  // 0.25 * actual image size
    }
  }

  &__greeting {
    margin: auto 0;
    overflow-y: auto;
    padding: var(--xh-pad-double-px);

    p {
      font-size: var(--xh-font-size-large-px);

      &.tb-welcome__signoff {
        text-align: right;
        margin: var(--xh-pad-double-px);
      }
    }
  }
}
