.toolbox-roadmap-dataview-panel {
  :not(.ag-row-group).dataview-item {
    &--name {
      font-size: var(--xh-font-size-large-px);
      font-weight: bold;
    }

    &--description {
      opacity: 0.8;
      font-size: var(--xh-font-size-medium-px);
      line-height: var(--xh-font-size-medium);
    }

    &--releaseVersion {
      opacity: 0.8;
      font-size: var(--xh-font-size-small-px);
      line-height: calc(var(--xh-font-size-small) * 1.1px);
      margin-bottom: 2px;
    }

    svg {
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }
}
