.toolbox-roadmap-dataview-panel {
  :not(.ag-row-group).dataview-item {
    &--name {
      font-size: var(--xh-font-size-large-px);
      font-weight: bold;
      margin-top: 5px;

      & svg {
        position: relative !important;
        left: 5px !important;
        top: 5px !important;
        margin-right: 10px;
      }
    }

    &--description {
      opacity: 0.8;
      font-size: var(--xh-font-size-medium-px);
      line-height: var(--xh-font-size-medium);
      margin-left: 5px;

      > div {
        max-width: 390px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &--footer {
      opacity: 0.8;
      font-size: var(--xh-font-size-small-px);
      line-height: calc(var(--xh-font-size-small) * 1.1px);
      margin-top: 2px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &--git {
      position: absolute !important;
      right: 38px !important;
      top: 10px;
    }

    &--statusIcon {
      position: absolute !important;
      right: 10px !important;
      top: 15px;
      color: purple;
    }
  }
}

.roadmap-group-row {
  margin-top: 7px;
  margin-left: 5px;

  > svg {
    margin: 1px 4px 8px 8px;
  }

  span {
    margin-left: 2px;

    > svg {
      margin: 0;
    }
  }
}
