.tb-panels-panel {
  .xh-panel__content {
    padding: var(--xh-pad-px) var(--xh-pad-double-px);
    line-height: 1.5;
    text-align: justify;
  }

  &__filler {
    color: var(--xh-text-color-muted);
  }
}
