.tb-feedback {
  &__inner {
    flex: 1;
    padding: var(--xh-spacing-double);
    gap: var(--xh-spacing);
    align-items: center;
    justify-content: center;
    text-align: center;

    &--thanks {
      gap: var(--xh-spacing-double);
    }
  }

  &__question {
    font-weight: 600;
    font-size: var(--xh-font-size-large);
  }

  &__sub {
    color: var(--xh-text-color-muted);
    font-size: var(--xh-font-size-small);
  }

  &__ratings {
    gap: var(--xh-spacing-double);
    margin-top: var(--xh-spacing);

    .xh-button {
      padding: var(--xh-spacing) var(--xh-spacing-double);
    }
  }

  &__actions {
    width: 100%;
    gap: var(--xh-spacing-half);
  }
}
