.tb-vm-test {
  &__model-conf {
    h3 {
      border-bottom: var(--xh-border-solid);
      font-weight: normal;

      &:first-child {
        margin-top: 0;
      }
    }

    .xh-form-field--switch-input {
      margin-left: 4px;
      .xh-form-field__label {
        font-size: 0.8em;
      }
    }
  }

  &__output {
    > .xh-panel__content > .xh-vframe {
      overflow-y: auto !important;
    }
  }

  &__comp {
    > .xh-panel__content > .xh-vframe {
      padding: var(--xh-pad-px);
    }

    border: var(--xh-border-solid);
    flex: none !important;
    margin: var(--xh-pad-double-px) var(--xh-pad-double-px) 0 var(--xh-pad-double-px);

    &:last-child {
      margin-bottom: var(--xh-pad-double-px);
    }
  }
}
