<configuration>
    <!-- Render Hoist LogSupport messages with Toolbox's converter, as in LogbackConfig. -->
    <conversionRule conversionWord="msg" converterClass="io.xh.toolbox.log.CustomLogSupportConverter"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern></encoder>
    </appender>
    <root level="WARN"><appender-ref ref="CONSOLE"/></root>
</configuration>
