.dataview-item {
  .xh-vbox {
    flex: 1;
    padding: var(--xh-spacing-half) var(--xh-spacing);
  }

  &--name,
  &--city,
  &--value {
    padding: 0 0 var(--xh-spacing-half);
    width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--name {
    font-size: var(--xh-font-size-large);
    line-height: calc(var(--xh-font-size-large) * 1.1);
  }

  &--city,
  &--value {
    font-size: var(--xh-font-size-small);
    line-height: calc(var(--xh-font-size-small) * 1.1);
  }

  svg {
    position: absolute;
    right: 20px;
    top: 12px;
  }
}
