body {
  --grid-large-font-size: 16;
  --tbar-font-size: 16;
  --button-font-size: 16;

  .xh-record-action-button svg {
    font-size: 24px;
  }

  .tbox-todoapp {
    margin: 100px 0;
    width: 60%;
  }
}