body {
  --grid-large-font-size: 16;
  --tbar-font-size: 16;
  --button-font-size: 24;

  .fa-sync, .fa-bars, .fa-undo {
    font-size: 16px;
  }

  .xh-record-action-bar svg {
    font-size: 16px;
  }

  .bp3-button-text {
    font-size: 16px;
  }

  .tbox-todoapp {
    margin: 100px 0;
    width: 600px;
  }
}