.test-dialogs {
  table {
    // width: 700px;
    height: 270px;
    text-align: left;

    th.explanation {
      text-align: center;
    }

    th.row-header {
      width: 20%;
      padding: var(--xh-pad-px);

      .test-dialogs__button {
        width: 100%;
      }
    }

    td {
      width: auto;
      padding: var(--xh-pad-px);
      text-align: center;
      border-bottom: var(--xh-border-solid);

      .test-dialogs__button {
        width: 100%;
      }
    }
  }

  .xh-switch-input {
    margin-left: 30px;
  }
}
