.react-view-columns > div {
  display: flex;
  margin-top: 5em;
  flex-direction: column;
  width: 100%;
}

.react-view-columns > div > div {
  margin: 0 !important;
  background-color: var(--xh-grid-bg);

  &:nth-child(odd) {
    background-color: var(--xh-grid-bg-odd);
  }
}
