.tb-examples {
  &__app-frame {
    padding: 30px;

    iframe {
      background-color: var(--xh-bg-alt);
      border: 3px solid var(--xh-border-color);
      border-radius: var(--xh-border-radius-px);
    }
  }

  &__app-tile-container {
    flex: 1;
    overflow-y: auto;
  }

  &__app-tile {
    margin: var(--xh-pad-double-px) var(--xh-pad-px) var(--xh-pad-px) var(--xh-pad-px);
    border: var(--xh-border-solid);
    border-radius: 10px;
    cursor: pointer;

    &__contents {
      padding: var(--xh-pad-px);
    }

    &:hover,
    &--selected {
      border-color: var(--xh-intent-primary-darker);

      .tb-examples__app-tile__contents {
        background-color: var(--xh-intent-primary-trans1);
      }
    }
  }
}
