.example-tile-text {
  flex: auto;
  overflow-y: auto !important;
  padding: var(--xh-pad-px);
}

.example-tile-container {
  justify-content: center;
  width: 80vw;
  height: 90vh;

  .example-tile-title {
    width: 100%;
    cursor: pointer;
  }
  > .xh-panel {
    border: var(--xh-border-solid);
  }
}

.app-tile {
  margin: 10px;
  padding: 10px;
  border: var(--xh-border-solid);
  border-radius: 10px;
  justify-content: center;
}
