.contact-details-panel {
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--xh-pad-double-px);
  }

  .contact-record-user-image {
    margin: 0 auto;
    display: table-cell;
    width: auto;
    height: 33%;
    padding: var(--xh-pad-half-px);
  }

  .xh-form-field {
    border-bottom: var(--xh-border-solid);
    min-height: 2.5em;
  }

  .xh-form-field:nth-last-child(2) {
    border-bottom: none;
  }

  .xh-form-field-label {
    font-weight: bold;
  }

  .bio-readonly-panel {
    flex-grow: 1;
    overflow-y: auto !important;
  }

  .details-bottom-toolbar {
    margin-bottom: 15px;
  }

  .metadata-tag {
    border-radius: 1.5px;
    font-size: 85%;
    padding: 3px 6px 3px 6px;
    margin: 2px;
    width: fit-content;
    background-color: var(--xh-bg-alt);
  }
}
