.contact-details-panel {
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contact-record-user-image {
    margin: 0 auto;
    display: table-cell;
    width: auto;
    height: 33%;
    padding: var(--xh-pad-half-px);
  }

  .xh-form-field {
    border-bottom: var(--xh-border-solid);
    min-height: 2.5em;
    padding: var(--xh-pad-px);
  }

  .xh-form-field:nth-last-child(2) {
    border-bottom: none;
  }

  .xh-form-field-label {
    font-weight: bold;
  }

  .bio-readonly-panel {
    flex-grow: 1;
    overflow-y: auto !important;
  }

  .bio-tags {
    overflow-y: auto !important;
  }

  .details-bottom-toolbar {
    margin-bottom: 35px;
  }

  .metadata-tag {
    position: relative;
    border-radius: 1.5px;
    font-size: 85%;
    padding: 3px 6px 3px 3px;
    margin: 2px 2px 2px 12px;
    width: fit-content;
    background-color: var(--xh-bg-alt);
    height: 20px;
    line-height: 15px;

    &::before {
      content: '';
      position: absolute;
      left: -10px;
      top: 0;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid var(--xh-bg-alt);
    }
  }
}
