.tb-contact-tile {
  border: var(--xh-border-solid);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;

  &--selected {
    border-color: var(--xh-orange);
  }

  &__bar {
    position: absolute;
    bottom: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: row;
    background-color: rgba(255, 255, 255, 0.5);
  }

  &__name {
    font-weight: bold;
    font-size: var(--xh-font-size-large-em);
    color: var(--xh-gray-dark);
    padding: 5px 15px 5px 5px;
  }
}
