// Show Oauth-sourced profile pic in a circular frame.
.tb-profile-pic {
  flex: none;
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;

  .xh-mobile & {
    height: 26px;
    width: 26px;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}
