.mc-list {
  --ag-row-hover-color: var(--xh-bg);

  &__item {
    border-bottom: var(--xh-border-solid);
    padding: var(--xh-pad-px);
    width: 100%;
    align-items: center;

    > div {
      flex: 1;
    }

    h1 {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.7) !important;
      padding: 4px;

      .xh-dark & {
        background-color: rgba(0, 0, 0, 0.7) !important;
      }
    }

    h2 {
      //font-size: 0.8em;
      white-space: nowrap;
    }

    &--year,
    &--dateYear {
      h1 {
        font-size: 60px;
      }
    }

    &--meeting {
      border-left: 5px solid var(--xh-orange);
    }
  }

  .mc-count-tiles {
    position: absolute !important;
    right: 10px;

    // Support semi-transparent bg on h1 text content on same row
    z-index: -1;

    flex: none;
    direction: rtl;
    max-height: 80px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 4px;

    &__tile {
      height: 10px;
      width: 10px;
      background-color: var(--xh-text-color);

      &--bonus {
        background-color: var(--xh-text-color-muted);
      }
    }

    &--big {
      .mc-count-tiles__tile {
        height: 20px;
        width: 20px;
      }
    }
  }
}
