.contact-fb-tile {
  border: var(--xh-border-solid);
  margin: var(--xh-pad-px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--selected {
    border-color: var(--xh-orange);
  }

  .floating-name {
    position: absolute;
    font-weight: bold;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    right: 20px;
    bottom: 10px;
  }
}
