.toolbox-formats-tab {
  &__panel {
    margin: var(--xh-pad-px);
    display: flex;

    tr {
      text-align: right;
    }
    table {
      padding: 5px 10px;
      font-size: larger;

    }

    th, td {
      border-bottom: 1px solid #ddd;
    }
  }



  .bp3-form-group {
    margin: 0;
    padding: 10px 20px;
    flex: none;

    &:nth-child(odd) {
      background-color: var(--xh-grid-bg-odd);
    }

    .bp3-label {
      font-size: var(--xh-font-size-large-px);
      margin-bottom: 2px;


    }

    .bp3-form-helper-text {
      font-size: var(--xh-font-size-small-px);
    }
  }
}